<main class="container">
  <h1>Dados do Livro</h1>
  <form (submit)="addLivro()" ngNativeValidate>    
    <div class="form-group">
      <label htmlFor="titulo">Título</label>
      <input id="titulo" class="form-control" placeholder="Titulo do Livro" type="text" name="titulo" required [(ngModel)]="livro.titulo"/>
    </div>
    <div class="form-group mt-2">
      <label htmlFor="resumo">Resumo</label>
      <textarea id="resumo" class="form-control" placeholder="Resumo sobre a obra"  type="textarea" required="" name="resumo"[(ngModel)]="livro.resumo">        
      </textarea>
    </div>

    <div class="form-group mt-2">
      <label htmlFor="editora" >Editora</label>
      <select id="editora" class="form-control" name="editora" [(ngModel)]="livro.codEditora">
        <option value="0" disabled selected>Seleciona uma editora</option>        
        <option *ngFor="let editora of editoras" [value]="editora.codEditora">{{ editora.nome }}</option>          
      </select>
    </div>
    <div class="form-group mt-2">
      <label htmlFor="autores" ngModel>Autores</label>
      <textarea id="autores" class="form-control" rows={3} name="autores" placeholder="1 autor por linha" [(ngModel)]="autoresForm"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-2" value="incluir">
      Salvar Livro
    </button>
  </form>
</main>
